@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

nav ul {
    list-style: none;
    text-align: center;
  }
  
  nav ul li {
    display: inline-block;
    margin-left: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
  }

  *{
    background-color: rgb(196, 196, 218);
  }

  #filme1{
    font-family: 'Pacifico', cursive;
  }
